

#Feature
"Style button" that changes colour scheme of the page. Layout too?

#Colour schemes
colorhunt.co
undecided

#Font-family
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;

# TODO
> add "blank-lines" as middle container text. See google fonts.
> create class=center and create universal style to center elements.
    > create class=align, align containers

# To Learn
> How a child element aligns in a parent box.