/* Index only */

.middle_container{
    text-align: center;
}
.middle_container h2{
    font-size: 3em;
}

.score-1, .score-2, .score-seperator{
    font-size: 5em;
}

.grid-item-6{
    padding-top: 50%;
}
.title{
    /* margin-left: 10%; */
    text-align: center;
}