
body{
    /* margin-left: 15%;
    margin-right: 15%; */
    margin: 0;
    /* margin-top:0;
    margin-bottom: 0; */
    background-color: wheat;
    color: rgba(245, 245, 245, 0.815);
}
.top_container, .middle_container, .bottom_container{
    background-color: rgb(31, 30, 30);
}

.top_container{
    padding: 5%;
}

#cicero_head{
    display: block;
    margin: auto;
}

#title{
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    font-size: 8ch;
}
#cicero_head_text{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.middle_container{
    position: relative;
    padding-bottom: 50%;
    text-align: justify;
}

#left_middle, #right_middle{
    position: absolute;
    display: inline-block;
    width: 35%;
}

#left_middle{
    height: 100%;
    width: 50%;
    left:0%;
    
}

#right_middle{
    height: 100%;
    width: 50%;
    right:0%;
}

#left_middle p{
    margin: 5% 5% auto 5%;
}
#left_middle h2{
    margin: 5% 5% 5% 5%;
}

#right_middle p{
    margin: 5% 5% auto 5%;
}
#right_middle h2{
    margin: 5% 5% 5% 5%;
}

.bottom_container{
    padding: 5%;
}

#footer_watermark{
    text-align: center;
}

.footer_links li{
    display: inline;
}
#github-portfolio{
    left: auto;
    right: auto;
}