/** Version 1.0 
    Sun 5th Dec 2021
**/
body{
    margin: 0;
    background-color: rgb(31, 30, 30);
    color: rgba(245, 245, 245, 0.815);
}
.top_container, .middle_container, .bottom_container{
    background-color: rgb(31, 30, 30);
}

.top_container{
    padding: 5%;
}

#cicero_head{
    display: block;
    margin: auto;
}

#title{
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    font-size: 8ch;
}
.image_text{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.middle_container{
    position: relative;
    padding-bottom: 50%;
    text-align: justify;
    font-family: "Roboto Slab", "sans-serif";
}
.middle_container p{
    line-height: 2;
}

#left_middle, #right_middle{
    position: absolute;
    display: inline-block;
    width: 35%;
}

#left_middle{
    height: 100%;
    width: 50%;
    left:0%;
    
}

#right_middle{
    height: 100%;
    width: 50%;
    right:0%;
}

#left_middle p{
    margin: 5% 5% auto 5%;
}
#left_middle h2{
    margin: 5% 5% 5% 5%;
}

#right_middle p{
    margin: 5% 5% auto 5%;
}
#right_middle h2{
    margin: 5% 5% 5% 5%;
}

#rage-img, #brutal-img{
    width: 500px;
    height: 340px;
    margin: 5% 200px auto 200px;
}

.bottom_container{
    margin-top: 50px;
    position: relative;
    padding: 2% 5% 8% 5%;
    font-family: "Roboto Slab", "sans-serif";
}

#footer_watermark{
    font-size: 0.75em;
    left: 43.5%;
    bottom: 15%;
    position: absolute;
}

.footer_links li{
    position: absolute;
    display: inline;
    font-size: 1.25em;
    border-color: white;
    border-width: 5px;
}

a:link, a:visited{
    background-color: rgb(31, 30, 30);
    color: rgba(245, 245, 245, 0.815);
    text-decoration: none;
    padding: 5px;
}

a:active, a:hover{
    color: wheat;
}



#github-portfolio{
    top: 30%;
    left: 66.5%;
}
#goodreads{
    top: 30%;
    left: 46.5%;
}
#youtube{
    top: 30%;
    left: 28.5%;
}